/* App.css */
/* Base styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

/* Eliminamos los estilos del nav viejo (ya no lo usamos) */

.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  margin-left: 180px; /* Mismo ancho que el sidebar */
  min-height: 100vh;
}

.sidebar-item {
  display: flex;
  align-items: center;
  color: white;
  padding: 12px 10px;
  margin: 8px 0;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.2s ease;
  font-size: 0.9rem;
}

.sidebar-item:hover {
  background: #9399a0;
  transform: translateX(5px);
}

.sidebar-item.active {
  background: #52768e;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar-item .icon {
  font-size: 1.1rem;
  margin-right: 12px;
  min-width: 20px; /* Mejor alineación */
}

/* Page content */
.page {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}


/* Opcional: Scroll personalizado para sidebar */
.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #e7e8e9;
  border-radius: 10px;
}
